[submodule "VideoDownloadAndPlay"]
	path = videodownloadandplay
	url = https://github.com/chandilsachin/VideoDownloadAndPlay.git
[submodule "videodownloadandplay"]
	path = videodownloadandplay
	url = https://github.com/chandilsachin/VideoDownloadAndPlay.git
